<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<title>Google Maps - pygmaps </title>
</head>
<body>
    <h1></h1>
	<div id="mapa"></div>
   <script type="text/javascript">
        function initMap() {
            document.getElementById('mapa').innerHTML = 'hola1';
		}
		</script>
</body>
</html>